<web-app>
    <servlet>
        <servlet-name>HW1part2</servlet-name>
        <servlet-class>HW1part2</servlet-class>

        <servlet-name>HW1part3</servlet-name>
        <servlet-class>HW1part3</servlet-class>

        <servlet-name>HW1part6</servlet-name>
        <servlet-class>HW1part6</servlet-class>
    </servlet>

    <servlet-mapping>
        <http-method>POST</http-method>
        <servlet-name>HW1part2</servlet-name>
        <url-pattern>/hw1part2</url-pattern>

        <servlet-name>HW1part3</servlet-name>
        <url-pattern>/hw1part3</url-pattern>

        <servlet-name>HW1part6</servlet-name>
        <url-pattern>/hw1part6</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>hw1part6</welcome-file>
    </welcome-file-list>
</web-app>
