<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Part3</servlet-name>
        <servlet-class>Part3.Part3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Part4</servlet-name>
        <servlet-class>Part4.Part4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Part4Javascript</servlet-name>
        <servlet-class>Part4.Part4Javascript</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Store</servlet-name>
        <servlet-class>Part7.Store</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Books</servlet-name>
        <servlet-class>Part7.Books</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Music</servlet-name>
        <servlet-class>Part7.Music</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Computers</servlet-name>
        <servlet-class>Part7.Computers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>Part7.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Part6</servlet-name>
        <servlet-class>Part6.Part6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultipleFormsServlet</servlet-name>
        <servlet-class>Part6.MultipleFormsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Part3</servlet-name>
        <url-pattern>/hw2part3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Part4</servlet-name>
        <url-pattern>/hw2part4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Part4Javascript</servlet-name>
        <url-pattern>/part4Javascript</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Store</servlet-name>
        <url-pattern>/store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Books</servlet-name>
        <url-pattern>/books</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Music</servlet-name>
        <url-pattern>/music</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Computers</servlet-name>
        <url-pattern>/computers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/addItem.htm</url-pattern>
        <url-pattern>/removeItem.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Part6</servlet-name>
        <url-pattern>/part6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultipleFormsServlet</servlet-name>
        <url-pattern>/part6testFromTeacher</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
